.direnv
.env
.envrc
.git
.gitignore

/rails/.direnv
/rails/.envrc
/rails/.gitignore
/rails/log/*
/rails/tmp/*
/rails/storage/*
/rails/public/assets
/rails/config/master.key
/rails/public/packs
/rails/public/packs-test

/frontend/.envrc
/frontend/.gitignore
/frontend/.spago
/frontend/dist
/frontend/node_modules
/frontend/output
