{
  "extends": ["eslint-config-airbnb-base", "prettier"],

  "plugins": ["prettier"],

  "env": {
    "browser": true
  },

  "globals": {
    "_": true,
    "$": true
  },

  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": ["error", { "props": false }]
  },

  "parser": "babel-eslint",

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["app/javascript", "node_modules"]
          }
        }
      }
    }
  }
}
