{
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],

  "plugins": ["@typescript-eslint", "prettier"],

  "env": {
    "browser": true
  },

  "globals": {
    "_": true,
    "$": true
  },

  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "class-methods-use-this": 0,
    "func-names": ["error", "never"],
    "lines-between-class-members": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": 0,
    "prettier/prettier": "error"
  },

  "parser": "@typescript-eslint/parser",

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
		        "extensions": [".js", ".jsx", ".scss", ".ts", ".tsx"],
            "modules": ["app/javascript", "node_modules"]
          }
        }
      }
    }
  }
}
