@import "./common";

html {
  min-height: 100%;
}

body {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

nav {
  background-color: rgba(255, 255, 255, 0.3);
  @extend .navbar-light;

  backdrop-filter: blur(5px);
  @extend .shadow-sm;
}

.nav-pills {
  .nav-link {
    @extend .btn;
    @extend .btn-block;
    @extend .btn-outline-dark;
    @extend .border-0;
  }
}

.background-picture {
  position: fixed;
  top: 50vh;
  left: 50%;
  height: 110vh;
  width: 110%;
  transform: translate(-50%, -50%);
  z-index: -1;

  @extend .no-interaction;

  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    & + .bg-image {
      opacity: 0;

      &.loaded {
        transition: opacity 1s;
        opacity: 1;
      }
    }
  }
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.glassy {
  background-color: transparent;
  backdrop-filter: blur(5px);
  @extend .shadow;

  &.list-group {
    @extend .rounded;
  }
}

@each $key, $color in map-merge($theme-colors, $difficulty-colors) {
  .glassy-#{$key} {
    @extend .glassy;
    color: color-yiq($color);
    background-color: rgba($color, 0.5);

    table {
      color: color-yiq($color);
      background-color: transparent;
    }

    a {
      color: color-yiq($color);
      background-color: transparent;
    }

    .list-group-item {
      background-color: transparent;
    }
  }
}

.puzzle-show {
  position: relative;
  max-width: 100%;
  background: $gray-600;

  img {
    max-width: 100%;
    opacity: 0.5;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
  }
}

.game {
  position: relative;
  @extend .rounded;

  img {
    @extend .border;
    @extend .rounded;
    @extend .img-fluid;
  }

  .progress {
    bottom: 0;
    height: 6px;
    margin: 0;
    padding: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    @extend .border-left;
    @extend .border-right;

    &.offline {
      .progress-bar {
        width: 100%;
      }
    }
  }
}

.picture {
  position: relative;
  @extend .rounded;

  img {
    @extend .border;
    @extend .rounded;
    @extend .img-fluid;
  }
}

i.overlay {
  position: absolute;
  top: 0;
  right: 0;
  color: lighten($yellow, 35%);
  transform: rotate(15deg) translate(5px, -5px);
  filter: drop-shadow(0px 2px 2px darken($yellow, 30%));
}

