@import "./common";

html {
  min-height: 100%;
}

body {
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: 100%;
  background-image: url("/images/private-holiday-beach.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  @extend .navbar-light;
  @extend .bg-light;

  opacity: 0.7;
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

@include media-breakpoint-up(md) {
  .container {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.puzzle-show {
  position: relative;
  max-width: 100%;
  background-size: cover;

  img {
    position: absolute;
    max-width: 100%;
    opacity: 0.5;
  }

  canvas {
    max-width: 100%;
    opacity: 1;
  }
}

.card.puzzle {
  .progress {
    margin: 0;
    padding: 0;
    height: 5px;

    @extend .rounded-0;

    &.trivial {
      background-color: lighten($color-trivial, 40%);

      .progress-bar {
        background-color: $color-trivial;
      }
    }

    &.easy {
      background-color: lighten($color-easy, 40%);

      .progress-bar {
        background-color: $color-easy;
      }
    }

    &.normal {
      background-color: lighten($color-normal, 30%);

      .progress-bar {
        background-color: $color-normal;
      }
    }

    &.hard {
      background-color: lighten($color-hard, 25%);

      .progress-bar {
        background-color: $color-hard;
      }
    }

    &.extreme {
      background-color: lighten($color-extreme, 30%);

      .progress-bar {
        background-color: $color-extreme;
      }
    }

    &.lunatic {
      background-color: lighten($color-lunatic, 40%);

      .progress-bar {
        background-color: $color-lunatic;
      }
    }

    &.offline {
      .progress-bar {
        width: 100%;
        @extend .progress-bar-striped;
        @extend .progress-bar-animated;
      }
    }
  }
}
