@import "~bootstrap/scss/bootstrap";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

$difficulty-colors: (
  "trivial": $cyan,
  "easy": $green,
  "normal": darken($yellow, 10%),
  "hard": darken($purple, 10%),
  "extreme": darken($red, 10%),
  "lunatic": $gray-800
);

.hidden {
  display: none;
}

.no-interaction {
  pointer-events: none;
  user-select: none;
}

.rotate-180 {
  transform: rotate(180deg);
}

.progress {
  @each $key, $color in $difficulty-colors {
    &.#{$key} {
      background-color: lighten($color, 35%);
      .progress-bar {
        background-color: $color;
      }
    }
  }

  &.offline {
    .progress-bar {
      @extend .progress-bar-striped;
    }
  }
}
