@import "~bootstrap/scss/bootstrap";

$btn-fab-size: $font-size-base * 2.5;
$btn-fab-size-sm: $font-size-sm * 2.3;
$btn-fab-size-lg: $font-size-lg * 2.5;

.btn-fab {
  @extend .btn;
  @extend .rounded-circle;
  width: $btn-fab-size;
  height: $btn-fab-size;

  &.btn-sm {
    @extend .btn-sm;
    width: $btn-fab-size-sm;
    height: $btn-fab-size-sm;
  }

  &.btn-lg {
    @extend .btn-lg;
    width: $btn-fab-size-lg;
    height: $btn-fab-size-lg;
  }
}

.fab-action {
  position: relative;
  width: 100%;
  border: none;

  .fab-action-menu {
    button {
      position: absolute;
      will-change: transform, opacity;
      transition-property: transform, opacity;
      transition-duration: 100ms;
      opacity: 0;
      &.show {
        opacity: 1;
      }
      @for $i from 0 through 20 {
        &:nth-child(#{$i}) {
          transition-delay: 20ms * $i;
        }
      }
    }
  }


  @for $i from 0 through 20 {
    .fab-action-menu-left {
      button:nth-child(#{$i}) {
        top: 50%;
        transform: translate(- $i * 100%, -50%);
        &.show {
          transform: translate(- $i * 140%, -50%);
        }
      }
    }
  }

  @for $i from 0 through 20 {
    .fab-action-menu-down {
      button:nth-child(#{$i}) {
        left: 50%;
        transform: translate(-50%, $i * 100% - 100%);
        &.show {
          transform: translate(-50%, $i * 140% - 100%);
        }
      }
    }
  }
}
