$playboard-backgrounds: dark-green, cool-sky, cinnamint, margo;

.bg-dark-green {
  background: #002400;
  background: linear-gradient(to bottom, #002400 0%, #b4ddb4 100%);
}

.bg-cool-sky {
  background: #2980B9;
  background: linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);
}

.bg-cinnamint {
  background: #4ac29a;
  background: linear-gradient(to bottom, #bdfff3, #4ac29a);
}

.bg-margo {
  background: #ffefba;
  background: linear-gradient(to bottom, #ffffff, #ffefba);
}

.bg-piggy-pink {
  background: #ee9ca7;
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
}

.bg-lawrencium {
  background: #0f0c29;
  background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
}

.bg-hersheys {
  background: #1e130c;
  background: linear-gradient(to bottom, #9a8478, #1e130c);
}
