@import "./common";

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-image: url("/images/private-holiday-beach.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  background-color: transparent;
}

@media #{$medium-and-up} {
  .container {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border-radius: 1em;
  }
}

.puzzle-show {
  position: relative;
  max-width: 100%;
  background-size: cover;

  img {
    position: absolute;
    max-width: 100%;
    opacity: 0.5;
  }

  canvas {
    max-width: 100%;
    opacity: 1;
  }
}

.card.puzzle {
  .card-content {
    height: 5em;
  }

  .progress {
    margin: 0;
    padding: 0;
    &.online {
      background-color: adjust-hue(lighten($progress-bar-color, 40%), -30deg);
      .determinate {
        background-color: adjust-hue($progress-bar-color, -30deg);
      }
    }

    &.offline {
      background-color: adjust-hue(lighten($progress-bar-color, 40%), 30deg);
      .determinate {
        background-color: adjust-hue($progress-bar-color, 30deg);
      }
    }
  }
}
