#playboard {
    position: absolute;
    width: 100%;
    height: 100%;

    &.blue {
        background: #1e5799;
        background: linear-gradient(to bottom,  #1e5799 0%, #7db9e8 100%);
    }

    &.green {
        background: #002400;
        background: linear-gradient(to bottom,  #002400 0%, #b4ddb4 100%);
    }
}
