@import "./common";

#playboard {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &.blue {
    background: #1e5799;
    background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
  }

  &.green {
    background: #002400;
    background: linear-gradient(to bottom, #002400 0%, #b4ddb4 100%);
  }
}

#field {
  position: absolute;
  left: 0;
  top: 0;
}

#active-canvas {
  position: absolute;
  filter:
    drop-shadow(0 0 2px rgba(255, 255, 255, 0.8))
    drop-shadow(0 6px 6px rgba(0, 0, 0, 0.4));

  @extend .no-interaction;
}

#back-button {
  position: absolute;
  left: 1em;
  top: 1em;
}

#buttons {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#game-progress {
  position: absolute;
  left: 1em;
  right: 5em;
  bottom: 0;
  width: auto;

  @extend .no-interaction;

  &.online {
    background-color: adjust-hue(lighten($progress-bar-color, 40%), -30deg);
    .determinate {
      background-color: adjust-hue($progress-bar-color, -30deg);
    }
  }

  &.offline {
    background-color: adjust-hue(lighten($progress-bar-color, 40%), 30deg);
    .determinate {
      background-color: adjust-hue($progress-bar-color, 30deg);
    }
  }
}

#info {
  position: absolute;
  left: 1em;
  bottom: 1.5em;

  @extend .no-interaction;

  p {
    margin: 0;
  }
}

#log-button {
  position: absolute;
  bottom: 4em;
  transition: transform .2s;
  &:focus, &:hover {
    background-color: transparent;
  }
}

#log {
  position: absolute;
  bottom: 8em;
  max-width: 100%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;

  @extend .no-interaction;

  p {
    margin: 0;
    display: none;

    &:nth-last-child(-n + 20) {
      display: block;
    }
  }
}
