rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read, write: if true;
      match /commands {
        allow read, write: if true;
      }
      match /commands/{commandId} {
        allow read, write: if true;
      }
      match /users/{userId} {
      	allow read, write: if true;
      }
    }
  }
}
